<h1>
  {{title}}<br />
</h1>
<button (click)="start(); ">Start</button>
<button (click)="end();">End</button>
<button (click)="break()">{{breakIsOnGoing ? "Break Stop" : "Break Start"}}</button>
<button (click)="reset();">Reset</button><br />
<div *ngIf="session">
	<label>Start Date:</label>{{session.start}}<br />
	<label>End Date:</label>{{session.end}}<br />
	<label>Duration:</label>{{duration}}<br />
	<div *ngIf="session.breaks.length > 0">
		<li *ngFor="let b of session.breaks">
			<label>Break Start:</label>{{b.start}}<br />
			<label>Break Stop:</label>{{b.end}}<br />
		</li>
	</div>
	<li *ngFor="let b of session.breaks">
		<div *ngIf="b.duration != ''">
			<label>Duration Break :</label>{{b.durationString}}<br />
		</div>
	</li>
</div>